/*dark green - #0e3e26 */
/*light green for button - rgb(104, 169, 46) */
.bg-color {
    background-color:#0e3e26;
}

/*Color loading for text specific to this applcation*/
div {
    color : white;
}

p {
    color: white;
}

h1,h2,h3,h4,h5,h6 {
    color: white;
}

h3.error-message {
    color: red;
    font-weight:bold;
}

.bank-button {
    background-color : rgb(104, 169, 46);
    color:white;
    border-color:rgb(75, 169, 75);
    border-width: 0.25em;
}

.bank-button:disabled {
    opacity: 0.25;
    pointer-events: none;
    cursor: default;
}

button.bank-button.enter-button {
    background-color:green;
    border-color:green;
    width:80%;
}

button.bank-button.cancel-button {
    background-color:red;
    border-color:red;
    width:80%;
}

button.bank-button.correction-button {
    background-color:orange;
    border-color:orange;
    color:white;
    width:80%;
}

button.bank-button.clear-button {
    background-color:red;
    border-color:red;
    width:80%;
}

input[type=textfield], input[type=password]{
    background-color: rgb(46, 169, 90);
    border-color: rgb(89, 158, 27);
    color: white;
}

/* Bank Numpad */
table.bank-numpad tr td {
    border: none;
}

table.bank-numpad tr td button {
    font-size:22px;
    width : 100%;
}

div.bank-numpad-row {
    margin-top:3em;
}

.footer {
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    text-align: center;
}
